@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@200;400&display=swap');

.container {
  padding: 0.1rem;
}


:root {
  --mainDark: #343a40;
  --mainGray: #ccc;
  --mainWhite: #fff;
  --mainBlue: #599;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  border: none;
}

h1 {
  font-family: 'Bebas Neue', cursive;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
}

.mission {
  font-size: 1.5em;
}