@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@200;400&display=swap');

.container {
  padding: 0.1rem;
}


:root {
  --mainDark: #343a40;
  --mainGray: #ccc;
  --mainWhite: #fff;
  --mainBlue: #599;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  border: none;
}

h1 {
  font-family: 'Bebas Neue', cursive;
}

h4 {
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: #000066;
  
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
}

.mission {
  font-size: 1.3em;
  font-weight: 200;
  color: #000066;
}

.btn.btn-primary {
  background-color: #000066;
  border-color: #000066;
}

.btn.btn-success {
  background-color: #006600;
  border-color: #000066;
}