.container {
  padding: 0.1rem;
}


:root {
  --mainDark: #343a40;
  --mainGray: #ccc;
  --mainWhite: #fff;
  --mainBlue: #599;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  border: none;
}